{% extends 'store/custom_admin/admin_base.html' %}
{% block admin_content %}
<div class="row">
    <div class="col-md-7">
        <div class="card p-3">
            <h4>All Sizes</h4>
            <table class="table table-striped mt-3">
                <thead><tr><th>Name</th><th>Code</th><th>Action</th></tr></thead>
                <tbody>
                    {% for size in sizes %}
                    <tr>
                        <td>{{ size.name }}</td>
                        <td>{{ size.code }}</td>
                        <td><a href="{% url 'admin_delete_size' size.id %}" class="text-danger" onclick="return confirm('Delete?')"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card p-4 bg-light">
            <h5>Add New Size</h5>
            <form method="POST">{% csrf_token %}<div class="mb-3">{{ form.as_p }}</div><button type="submit" class="btn btn-dark w-100">Add Size</button></form>
        </div>
    </div>
</div>
{% endblock %}