{% extends 'store/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <div class="alert alert-success">
            <h4>Email Sent!</h4>
            <p>We have sent a link to your email address to reset your password. Please check your inbox (and spam folder).</p>
            <p class="small text-muted">(Dev Note: Check your Terminal/CMD screen for the link)</p>
        </div>
        <a href="{% url 'handle_login' %}" class="btn btn-dark">Back to Login</a>
    </div>
</div>
{% endblock %}