{% extends 'store/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-4">Register</h3>
                
                <form action="{% url 'handle_register' %}" method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger small">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </form>
                
                <p class="text-center mt-3">Already have an account? <a href="{% url 'handle_login' %}">Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}